.f1h1{
  text-align:center;
}
#main{
  background:#eeeeee;
}
.f1p1{
  text-align:center;
}
#img-div{
  background:white;
}
#img{
  width:1024px;
  height:623px;
  margin-left:25%;
   max-width: 100%;
  height: auto;
}
#img-caption{
  text-align:center;
  margin-top:25px;
  font-size:18px;
}
.f2h1{
  text-align:center;
}
ul{
  max-width:550px;
    line-height: 1.6;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
  margin: 0 auto 50px auto;
}
.f2p2 {
 margin: 0 auto 50px auto;
  max-width:550px;
  text-align:center;
      line-height: 1.6;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
}
.f2h2{
   margin: 0 auto 50px auto;
  max-width:950px;
  text-align:center;
      line-height: 1.6;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
}